.wrapper {
	width: 100%;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	font: normal 1em/1.5 sans-serif;
	color: #fff;
}
h1,h2,h3,h4 {
	padding: 0;
	margin: 0;
}
h1 {
	font-size: 5.5em;
	padding-top: 35px;
}
h2 {
	font-size: 4em;
}
h3 {
	font-size: 2em;
}
h4, p {
	font-size: 1.25em;
}
li {
	text-decoration: none;
	list-style: none;
}
.section {
		padding-top: 60px;
		padding-bottom: 60px;
	h2 {
		padding-bottom: 30px;
	}
}

/*..........Header..................*/

.header {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 700px;
		background-image: url(../img/headerbg.jpg);
		-webkit-background-size: cover;
	.nav {
		width: 50px;
		margin-left: auto;
		margin-right: 30px;
		margin-top: 20px;
	}
	.logo {
  		align-self: center;
  		width: 20%;
  		margin-top: 80px;
  	}
	h1:after {
    	content: " ";
    	display: block;
    	margin: 0 auto;
    	width: 60%;
    	border-bottom: 3px solid #fff;
  		}
 }

/*..........Services..................*/

.services {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #B60050;
	ul {
		display: flex;
		flex-direction: row;
		align-self: center;
	}
	li {
		display: flex;
		flex-direction: column;
		justify-content: space-around;	
		padding-bottom: 40px;
		width: 25%;
		margin-left: 10px;
		margin-right: 10px;	
		}
	img {
		width: 80%;
		align-self: center;
	}
}

/*..........About Me..................*/

.about-me {
		display: flex;
		flex-direction: column;
		background-color: #4A4A4A;
	img {
		align-self: center;
		width: 40%;
		border-radius: 20px;
	}
	p {
		align-self: center;
		width: 70%;
		text-align: justify;
		margin: 0 auto;
		padding-top: 30px;
	}
}

/*..........Featured Pets..................*/

.featured-pets {
		display: flex;
		flex-direction: column;
		background-color: #ED2C74;
	ul{
		display: flex;
		justify-content: center;
	}
	li {
		display: flex;
		flex-direction: column;
		align-self: center;
		margin: 0 20px;
	}
	img {
		border-radius: 20px;
	}
}

/*..........Reviews..................*/

.reviews {
		display: flex;
		flex-direction: column;
		background-color: grey;
	ul {
		display: flex;
		justify-content: center;
	}
	li {
		display: flex;
		flex-direction: column;
		align-self: center;
		margin: 0 20px;
	}
	img {
		border-radius: 20px;
	}
}

/*..........Rates..................*/

.rates {
		display: flex;
		flex-direction: column;
		background-color: #F06E9A;
	h2 {
		padding-bottom: 0px;
	}
	h3 {
		padding-top: 20px;
	}
	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	li {
		background-color: grey;
		border-radius: 20px;
		display: flex;
		flex-direction: column;	
		justify-content: center;
		margin: 20px 5px 40px 5px;	
		}
	p {
		font-size: .9em;
	}
	h4 {
		font-size: 1.125em;
		max-width: 650px;
		align-self: center;
	}	
}

/*..........Contact..................*/

.contact {
	background-color: grey;
	ul {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: column;
	}
	li {
		display: flex;
		justify-content: center;		
	}
	img {
		align-self: center;
		width: 50px;
		margin-right: 10px;
	}
	p {
		align-self: center;
		display: inline;
	}
}

@media (min-width: 768px) { 

	/* Main Layout Styles
	================================ */

	
	}

	/* Imagery
	================================ */

	



@media (min-width: 1px) and (max-width: 767px)  {
	
 
}