.wrapper {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font: normal 1em/1.5 sans-serif;
  color: #fff; }

h1, h2, h3, h4 {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 5.5em;
  padding-top: 35px; }

h2 {
  font-size: 4em; }

h3 {
  font-size: 2em; }

h4, p {
  font-size: 1.25em; }

li {
  text-decoration: none;
  list-style: none; }

.section {
  padding-top: 60px;
  padding-bottom: 60px; }
  .section h2 {
    padding-bottom: 30px; }

/*..........Header..................*/
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  background-image: url(../img/headerbg.jpg);
  -webkit-background-size: cover; }
  .header .nav {
    width: 50px;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 20px; }
  .header .logo {
    align-self: center;
    width: 20%;
    margin-top: 80px; }
  .header h1:after {
    content: " ";
    display: block;
    margin: 0 auto;
    width: 60%;
    border-bottom: 3px solid #fff; }

/*..........Services..................*/
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #B60050; }
  .services ul {
    display: flex;
    flex-direction: row;
    align-self: center; }
  .services li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 40px;
    width: 25%;
    margin-left: 10px;
    margin-right: 10px; }
  .services img {
    width: 80%;
    align-self: center; }

/*..........About Me..................*/
.about-me {
  display: flex;
  flex-direction: column;
  background-color: #4A4A4A; }
  .about-me img {
    align-self: center;
    width: 40%;
    border-radius: 20px; }
  .about-me p {
    align-self: center;
    width: 70%;
    text-align: justify;
    margin: 0 auto;
    padding-top: 30px; }

/*..........Featured Pets..................*/
.featured-pets {
  display: flex;
  flex-direction: column;
  background-color: #ED2C74; }
  .featured-pets ul {
    display: flex;
    justify-content: center; }
  .featured-pets li {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 20px; }
  .featured-pets img {
    border-radius: 20px; }

/*..........Reviews..................*/
.reviews {
  display: flex;
  flex-direction: column;
  background-color: grey; }
  .reviews ul {
    display: flex;
    justify-content: center; }
  .reviews li {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 20px; }
  .reviews img {
    border-radius: 20px; }

/*..........Rates..................*/
.rates {
  display: flex;
  flex-direction: column;
  background-color: #F06E9A; }
  .rates h2 {
    padding-bottom: 0px; }
  .rates h3 {
    padding-top: 20px; }
  .rates ul {
    display: flex;
    justify-content: center; }
  .rates li {
    background-color: grey;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px 5px 40px 5px; }
  .rates p {
    font-size: .9em;
    text-align: center; }
  .rates h4 {
    font-size: 1.125em;
    max-width: 650px;
    text-align: justify; }

/*..........Contact..................*/
.contact {
  background-color: grey; }
  .contact ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column; }
  .contact li {
    display: flex;
    justify-content: center; }
  .contact img {
    align-self: center;
    width: 50px;
    margin-right: 10px; }
  .contact p {
    align-self: center;
    display: inline; }

@media (min-width: 768px) {
  /* Main Layout Styles
  ================================ */ }
/* Imagery
================================ */

/*# sourceMappingURL=style.css.map */
