h1 {
	font-family: wisdom script;
 display: inline;
}
#mainNav {
 list-style: none;
}

#mainNav li{
  display: inline;
  margin: 10px;
}

#modal-popup {
  height: 200px;
  weight: 200px;
  background: lightblue;
  z-index: 99;
}